/* Variables */
:root {
  --white: #ffffff;
  --background: #252b46;
  --color-principal: #2a18e736;
}
/*Resetear estilos que el navegador trae por defecto*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Fuentes Base*/
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
body {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  width: 100%;
}
header picture {
  margin-left: 10px;
  margin-right: 20px;
  width: 55px;
  height: auto;
}
header picture img {
  width: 70px;
  height: auto;
}
.header__titulo {
  width: 50%;
  margin-top: 4px;
  font-family: "Open Sans", sans-serif;
  color: var(--background);
}
.header__titulo h1 {
  margin-top: 5px;
  font-size: 2.6rem;
}
.header__titulo h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
.header__menu {
  position: fixed;
  right: 5px;
  top: 7px;
  width: 50px;
  height: auto;
  margin: 0 auto;
  background-color: var(--background);
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  border-radius: 8px;
}
.header__menu img {
  width: 100%;
  padding: 3px 3px;
}
main {
  padding: 20px;
  background-color: var(--background);
  height: auto;
}
.intro--titles {
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cards__article {
  position: relative;
  min-width: 281px;
  max-width: 510px;
  height: auto;
  margin: 20px auto;
  padding: 5px;
  box-shadow: 0 4px 12px rgba(26, 25, 25, 0.781);
  background-color: var(--color-principal);
}
.cards__article--img {
  position: absolute;
  width: 50px;
  left: -20px;
  top: -20px;
}
.cards__article h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.cards__article--container {
  width: 100%;
}

.cards__article--container p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.cards__article--container img {
  width: 40%;
  margin: 5px 10px 10px 10px;
}
a {
  display: contents;
}
.boton {
  width: 70px;
  height: 50px;
  margin: 20px auto;
  background-color: var(--background);
  box-shadow: 0 4px 12px rgba(26, 25, 25, 0.781);
  overflow: hidden;
  background-image: url("../assets/icon-flecha-rigth.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.boton:hover {
  background-color: #27346e;
}
.locacion {
  width: 100%;
}
.locacion__card {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(26, 25, 25, 0.781);
}
.locacion__direccion {
  max-width: 400px;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}
@keyframes callus {
  0% {
    color: var(--white);
  }
  50% {
    color: #002efc;
  }
}
.locacion__direccion a {
  color: white;
  text-decoration: none;
  animation-name: callus;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.locacion__card img {
  width: 100%;
  margin: 20px 0px 20px 0px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: #2e286e;
}
.left {
  width: 50%;
}
.rigth {
  width: 50%;
  margin: 0 auto;
}
footer p {
  font-size: 1.8rem;
  text-align: center;
}
footer p span {
  font-weight: 300;
}
footer .menu-list {
  font-size: 1.6rem;
}
.menu-list li {
  display: inline-block;
  list-style: none;
  margin: 0px 15px;
  text-align: center;
}
.menu-list a {
  font-family: "Open Sans";
  color: var(--white);
  text-decoration: none;
}
